:root {
  --bg         : #222629;
  --bg-alt     : #474b4f;
  --fg         : #efefef;
  --fg-alt     : #6b6e70;
  --accent     : #86c232;
}

body {
  background: var(--bg);
}

h2 {
  color: var(--fg);
  font-size: 64px;
  font-family: 'Open Sans Condensed', sans;
}

h4 {
  font-size: 32px;
  font-family: 'Open Sans Condensed', sans;
  color: var(--fg-alt);
}

h6 {
  font-size: 32px;
  font-family: 'Montserrat', sans;
  color: var(--accent);
}

.centered {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded {
  padding: 16px;
  font-size: 16px;
  background-color: var(--accent);
  color: var(--fg);
  border: 0px solid transparent;
  width: 120px;
  border-radius: 50px;
}

li {
  font-size: 24px;
  padding: 20px;
  font-family:"Montserrat", sans;
  font-weight: 400;
  display: inline-block;
}

a, a:hover, a:visited, a:active {
  color: var(--fg);
  text-decoration: none;
  display: block;
}
