:root {
  --bg  : #121c21;
  --bgl : #1e2e36;
  --fg  : #aaafb2;
  --grn : #fa9a6a; /* green  */
  --red : #f0696f; /* red    */
  --ylw : #f7cca1; /* yellow */
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color : var(--bg);
  color            : var(--fg);
  margin           : 0px;
}

pre {
  font-family: 'Scientifica'
}
