:root {

  --bg  : #121c21;
  --bgd : #151515;
  --bgl : #1e2e36;
  --blu : #718c97; /* blue   */
  --fg  : #aaafb2;
  --fgl : #3f6173;
  --grn : #76a08c; /* green  */
  --org : #fa9a6a; /* orange */
  --red : #f0696f; /* red    */
  --ylw : #f7cca1; /* yellow */
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family : "scientifica";
  src         : url('scientifica.woff') format('woff');
}

body {
  background-color : var(--bg);
  color            : var(--fg);
  margin           : 0px;
  padding          : 3% 15% 2% 15%;
}

pre {
  font-family : scientifica;
  font-size   : 24px;
}

#statusline {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background-color: var(--bgl);
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

.red {
  color: var(--red);
}

.green {
  color: var(--grn);
}

.yellow {
  color: var(--ylw);
}

.blue {
  color: var(--blu);
}

.lightfg {
  color: var(--fgl);
}

.primary {
  color            : var(--bg);
  background-color : var(--red);
}

.secondary {
  color            : var(--bg);
  background-color : var(--org);
}

.teritary {
  color            : var(--fg);
  background-color : var(--bgl);
}

.unselectable {
  user-select: none;
}

a:link, a:visited {
  color: var(--blu);
}

#code {
  -moz-box-shadow:    0px 0px 40px 6px var(--bgd);
  -webkit-box-shadow: 0px 0px 40px 6px var(--bgd);
  box-shadow:         0px 0px 40px 6px var(--bgd);
  border: 0px solid transparent;
  border-radius: 5px;
  font-family: scientifica;
  font-size: 24px;
  padding : 12px 24px 24px 24px;
  position: center;
}
