	:root {
		--main-color: #111112;
		--main-muted: #aaaaaa;
		--green: #87be57;
		--orange: #ebcb8b;
		--red: #bf4752;
		--cyan: #88c0d0;
		--blue: #81A1C1;
		--magenta: #b48ead;
		--violet: #734473;
		--yellow: #ebb342;
		--foreground-light: #aaaaaa;
		--white: #ffffff;
	}

    ::-webkit-scrollbar {
        display: none;
    }
	
	@keyframes rise {
		0% {opacity:0;}
		100% {opacity:1;}
	}
	
	@keyframes fadein {
		from {opacity:0.3;}
		to {opacity:1;}
	}
	
	body {
		background-color: var(--main-color);
        text-align: center;
		margin: 0;
	}
		
	#top_bar {
        display: none;
		position: center;
		font-family: 'Product Sans', monospace;
		text-align: center;
		color: #dc322f;
		font-size: 12px;
		padding: 30px;
		border: 5px solid var(--main-color);
		background: var(--main-color);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	a:link , a:visited{
		text-decoration: none;
		color: var(--main-muted);
		background-color:var(--main-color);
		border-style: 2px solid;
		border-radius: 3px;
		padding: 8px;
		width: 200px;
		height: 100px;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
	}
	
	#youtube{
		text-decoration: none;
		border: 2px solid var(--orange);
		margin: 5px;
		transition: 0.25s ease;
	} 
	
	#dota2 {
		text-decoration: none;
		border:2px solid var(--red);
		margin: 5px;
		transition: 0.25s ease;
	} 
	
	#android {
		text-decoration: none;
		border:2px solid var(--violet);
		margin: 5px;
		transition: 0.25s ease;
	} 
	
	#jokes {
		text-decoration: none;
		border:2px solid var(--magenta);
		margin: 5px;
		transition: 0.25s ease;
	} 
	
	#archlinux {
		text-decoration: none;
		border:2px solid var(--blue); 
		margin: 5px;
		transition: 0.25s ease;
	}
	
	#wiki {
		text-decoration: none;
		border:2px solid var(--cyan);
		margin: 5px;	
		transition: 0.25s ease;
	}
	
	#rice {
		text-decoration: none;
		border:2px solid var(--green);	
		margin: 5px;
		transition: 0.25s ease;
	}
	
	#xda {
		text-decoration: none;
		border:2px solid var(--yellow);	
		margin: 5px;
		transition: 0.25s ease;
	}
	
	#youtube:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--orange);
		color: var(--white);
	} 
	
	#dota2:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--red);
		color: var(--white);
	} 
	
	#android:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--violet);
		color: var(--white);
	} 
	
	#jokes:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--magenta);
		color: var(--white);
	} 
	
	#archlinux:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--blue);
		color: var(--white);
	}
	
	#wiki:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--cyan);	
		color: var(--white);
	}
	
	#rice:hover {
		transition: 0.25s ease;
		text-decoration: none;
		background-color: var(--green);	
		color: var(--white);
	}
	
	#xda:hover {
		text-decoration: none;
		background-color: var(--yellow);
		color: var(--white);
		transition: 0.25s ease;
	} 
	
	input {
		font-family: 'Product Sans', monospace;
		text-align: center;
		color: var(--white);
		background-color: var(--main-color);
		border: 2px solid var(--main-color);
		border-radius: 3px;
		width: 42%;
		height: 20px;
		font-size: 14px;
		padding : 8px;
		box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.7);
		position: relative;
		transition: 0.2s ease;
	}
		
	input:focus {
		box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.7);
	}
		
	input:hover {
		box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.7);
	}
	
	#logo {
		margin-top: 100px;
		font-family: 'Product Sans', monospace;
		font-size: 80px;
		text-align: center;
		padding: 50px;	
        color: var(--main-muted);

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	#big_g {
		height: 100px;
		margin-top: 50px;
	}
	
	#icons {
		position: center;
		font-family: 'Product Sans', sans-serif;
		text-align: center;
		color: var(--main-muted);
		font-size: 10px;
		padding: 30px;
		background: rgba(0,0,0,0);
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	#github ,#gplus, #twitter, #facebook, #mail, #reddit {
		color: var(--main-color);
		transition: 0.25s ease;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        margin: 5px;
        line-height: 45px;
	}

    #github {
        background-color: var(--violet);
    }

    #gplus {
        background-color: var(--red);
    }

    #twitter {
        background-color: var(--cyan);
    }

    #facebook {
        background-color: var(--blue);
    }

    #mail {
        background-color: var(--yellow);
    }

    #reddit {
        background-color: var(--green);
    }

	#github:hover, #twitter:hover, #facebook:hover, #mail:hover, #gplus:hover , #reddit:hover {
        filter: opacity(0.6);
	}


.icon-arrow-down:before {
  content: "\e900";
  color: #000;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4rcyt');
  src:  url('fonts/icomoon.eot?4rcyt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4rcyt') format('truetype'),
    url('fonts/icomoon.woff?4rcyt') format('woff'),
    url('fonts/icomoon.svg?4rcyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
