	
	:root {
		--main-color: #1e1e20;
		--main-muted: #aaaaaa;
		--green: #a3be8c;
		--orange: #ebcb8b;
		--red: #bf616a;
		--cyan: #88c0d0;
		--blue: #81A1C1;
		--magenta: #b48ead;
		--violet: #734473;
		--yellow: #ebcb8b;
		--foreground-light: #aaaaaa;
		--white: #ffffff;
	}
	
	@keyframes rise {
		0% {opacity:0;}
		100% {opacity:1;}
	}
	
	@keyframes fadein {
		from {opacity:0.3;}
		to {opacity:1;}
	}
	
	body {
		background-color: var(--main-color);
        text-align: center;
		margin: 0;
	}
		
	#top_bar {
		position: center;
		font-family: 'Product Sans', monospace;
		text-align: center;
		color: #dc322f;
		font-size: 12px;
		padding: 30px;
		border: 5px solid var(--main-color);
		background: var(--main-color);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	a:link , a:visited{
		text-decoration: none;
		color: var(--main-muted);
		background-color:var(--main-color);
		border-style: 2px solid;
		border-radius: 3px;
		padding: 8px;
		width: 200px;
		height: 100px;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
	}
	
	#youtube{
		text-decoration: none;
		border: 2px solid var(--orange);
		margin: 5px;
		transition: 0.5s ease;
	} 
	
	#dota2 {
		text-decoration: none;
		border:2px solid var(--red);
		margin: 5px;
		transition: 0.5s ease;
	} 
	
	#android {
		text-decoration: none;
		border:2px solid var(--violet);
		margin: 5px;
		transition: 0.5s ease;
	} 
	
	#jokes {
		text-decoration: none;
		border:2px solid var(--magenta);
		margin: 5px;
		transition: 0.5s ease;
	} 
	
	#archlinux {
		text-decoration: none;
		border:2px solid var(--blue); 
		margin: 5px;
		transition: 0.5s ease;
	}
	
	#wiki {
		text-decoration: none;
		border:2px solid var(--cyan);
		margin: 5px;	
		transition: 0.5s ease;
	}
	
	#rice {
		text-decoration: none;
		border:2px solid var(--green);	
		margin: 5px;
		transition: 0.5s ease;
	}
	
	#xda {
		text-decoration: none;
		border:2px solid var(--yellow);	
		margin: 5px;
		transition: 0.5s ease;
	}
	
	#youtube:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--orange);
		color: var(--white);
	} 
	
	#dota2:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--red);
		color: var(--white);
	} 
	
	#android:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--violet);
		color: var(--white);
	} 
	
	#jokes:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--magenta);
		color: var(--white);
	} 
	
	#archlinux:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--blue);
		color: var(--white);
	}
	
	#wiki:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--cyan);	
		color: var(--white);
	}
	
	#rice:hover {
		transition: 0.5s ease;
		text-decoration: none;
		background-color: var(--green);	
		color: var(--white);
	}
	
	#xda:hover {
		text-decoration: none;
		background-color: var(--yellow);
		color: var(--white);
		transition: 0.5s ease;
	} 
	
	input {
		font-family: 'Product Sans', monospace;
		text-align: center;
		color: var(--white);
		background-color: var(--main-color);
		border: 2px solid var(--main-color);
		border-radius: 3px;
		width: 42%;
		height: 20px;
		font-size: 14px;
		padding : 8px;
		box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.7);
		position: relative;
		transition: 0.2s ease;
	}
		
	input:focus {
		box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.7);
	}
		
	input:hover {
		box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.7);
	}
	
	#logo {
		margin-top: 50px;
		font-family: 'Product Sans', monospace;
		font-size: 80px;
		text-align: center;
		padding: 50px;	
        color: var(--main-muted);

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	#big_g {
		height: 100px;
		margin-top: 50px;
	}
	
	#icons {
		position: center;
		font-family: 'Product Sans', sans-serif;
		text-align: center;
		color: var(--main-muted);
		font-size: 10px;
		padding: 30px;
		background: rgba(0,0,0,0);
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	#github ,#gplus, #twitter, #facebook, #mail {
		background-color: rgba(0,0,0,0);
		color: var(--main-muted);
		transition: 0.5s ease;
        border: 2px solid;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        margin: 5px;
        line-height: 45px;
	}

    #github {
        border-color: var(--violet);
    }

    #gplus {
        border-color: var(--red);
    }

    #twitter {
        border-color: var(--cyan);
    }

    #facebook {
        border-color: var(--blue);
    }

    #mail {
        border-color: var(--yellow);
    }

	
	#github:hover {
		background-color: var(--violet);
		transition: 0.5s ease;
        color: var(--white);
	}

	#gplus:hover {
		background-color: var(--red);
		transition: 0.5s ease;
        color: var(--white);
	}

	#twitter:hover {
		background-color: var(--cyan);
		transition: 0.5s ease;
        color: var(--white);
	}

    #facebook:hover {
        background-color: var(--blue);
        transition: 0.5s ease;
        color: var(--white);
    }

	#mail:hover {
		background-color: var(--yellow);
		transition: 0.5s ease;
        color: var(--white);
	}

	

